#container-fluid {
  margin-top: -20px;
  background-color: #fcfafb;
}

.blue-nav {
  position: relative;
  width: 100%;
}


/*#name {
  background-image: url("../images/img06.png");
}

#name h1 {
  color: white;
  font-family: "UniversLTStd-Light";
  font-weight:bolder;
  padding: 15px;
  padding-left: 18%;
}*/

#main {
  margin-top: 10px;
  background-color: #ffffff;
  box-shadow: -5px 0px 5px -4px rgb(182, 220, 236), 5px 0px 5px -4px rgb(182, 220, 236) ;
}

#main-body {
  font-family: "UniversLTStd-Light";
  font-weight: normal;
  border-right: 0.25px solid lightgrey;
}

.col-centered {
    float: none;
    margin: 0 auto;
    margin-top: -40px;
}

#upper-container {
  display: inline-block;
  position: relative;
}

#demo-button {
  position: absolute;
  right:10%;
  top:60%;
  width: 80%;
  /*background-image: url("./assets/images/request_demo_button.png");*/
  color: white;
}

#manifesto {
  float:left;
  margin-left: 10px;
}

#upper-container {
  font-family: 'UniversLTStd-LightCn';
}

#lower-container p {
  font-family: "UniversLTStd-Light";
  color: #797979;
}

.text {
  margin-left: 80px;
  font-family: "UniversLTStd-Light";
}
